extends layout

block content
    table
        thead   
            th name
            th id
        tbody
            each channel in channels
                tr 
                    td= channel.channel
                    td= channel.id
    a(href="/add").btn add a channel