* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-color: #f28;
    --main-color: #f25;
    --active-section-color: #950740;
}

body {
    background: var(--page-color);
}

.container {
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 70vh;
    margin: 15vh auto;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0px 1px 1px;
}

.active-users {
    background-color: var(--active-section-color);
    width: 20%;
    padding: 1rem;
    font-size: .9rem;    
}


#messages {
    list-style-type: none;
}

.main {
    width: 80%;
    padding: 1.5rem;
    background-color: var(--main-color);
}