* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 68.5%;
  box-sizing: inherit;
  background-color: rgba(70, 131, 180, 0.9); }

.container {
  width: 70%;
  height: 75vh;
  margin: 5rem auto;
  background-color: skyblue;
  border-radius: 1rem;
  overflow: hidden;
  font-family: sans-serif; }
  .container h1 {
    color: #fff;
    background-color: darkslategray;
    text-align: center;
    padding: 1rem 0; }
  .container .main-app {
    display: flex;
    font-size: 1.1rem; }
    .container .main-app__menu {
      width: 15%;
      background-color: #147070;
      color: #fff;
      font-size: 1.2rem;
      height: 300px; }
      .container .main-app__menu-link {
        display: inline-block;
        color: #fff;
        list-style: none;
        text-decoration: none;
        width: 100%;
        padding: .2rem 1rem; }
    .container .main-app__display {
      width: 85%; }
